.Button {
    background-color: var(--bg-btn);
    padding: 15px 0;
    border-radius: 5px;
    color: var(--color-black);
    font-weight: 700;
    overflow: hidden;
    transition: all .3s ease 0s;
    position: relative;
    z-index: 999;
    justify-content: center;
    text-align: center;
}

.Button:hover {
    background-color: var(--color-black);
    color: var(--bg-btn);
}

