.menu-icon {
    cursor: pointer;
}

.bg-cover {
    background-color: var(--color-black);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .7;
}

.head {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    color: #fff;
    width: 100%;
    margin-top: 42px;
}