#root {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.bgSlide {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 130px;
}

.bgSlide h6, .bgSlide img {
    z-index: 8;
    position: relative;
}

.bgSlide h6 {
    color: var(--bg-btn);
    font-weight: 700;
}

.bgSlide img {
    max-width: 150px;
    margin: 17px 0 30px;
}

.bgSlide:after {
    content: "";
    background-color: var(--color-black);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .7;
    z-index: 1;
}

.detailSlide {
    z-index: 999;
    position: relative;
}

.detailSlide h1 {
    max-width: 668px;
}

.detailSlide h1, .detailSlide p{
    color: var(--color-white);
}

.detailSlide p {
    margin: 10px 0;
    font-weight: 700;
}