@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  direction: rtl;
}

html,
body {
  font-family: 'DM Sans', sans-serif;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
}

:root {
  --bg-btn: #E4C590;
  --color-white: #fff;
  --color-black:#222;
}